* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    /* Theme Colors */
    --bd-border: black;
    font-family: "Courier New", Courier, monospace;
}

#toggle_theme {
    cursor: pointer;
}

.dark {
    --bd-border: rgb(250, 235, 215);
    color: rgb(255, 255, 255);
    background-color: rgb(43, 43, 43);
}

.dark > .game_header > h1 {
    color: rgb(103, 177, 76);
}

body {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: space-around;
    background-color: rgb(250, 235, 215);
    overflow: hidden;
}

h1 {
    font-size: 1.8rem;
    color: rgb(81, 139, 60);
    text-align: center;
}

h2{
    font-size: 1.2rem;
}
span {
    font-size: 0.8rem;
    font-weight: bold;
}

.game_header {
    width: 80%;
    display: grid;
    grid-template-columns: 4fr 0.2fr;
    gap: 5rem;
    /*display: flex;*/
    /*justify-content: space-between;*/
}

.game_body {
    min-width: 80vw;
    max-width: 98%;
    min-height: 65vh;
    max-height: 99vh;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: space-around;
}

.game_details {
    min-width: 10%;
    max-width: 80%;
}

.sprite {
    width: 1.2rem;
}

.game_canvas {
    /* Theme */

    min-width: 60%;
    max-width: 90%;
    height: 60vh;

    border: 0.5rem solid var(--bd-border);
    border-radius: 0.5rem;
}

.game_canvas > iframe {
    width: 100%;
    height: 100%;
}

.game_canvas > .iframe > canvas {
    width: 100%;
    height: 100%;
}
